@page "/parameter-parent"

<h1>Componente Hijo (Child) SIN valores de atributo</h1>
<ParameterChild />

<h1>Componente Hijo (Child) CON valores de atributo</h1>
<ParameterChild Titulo="Título Enviado desde Parent" Body="@(new Componentes.PanelBody(){Texto = "Editado desde Parent", Estilo="normal"})"/>

