@page "/routing"
@page "/routing-2/{text}"
@page "/routing-3/{text?}"
@page "/routing-4/{Id:int?}"
<h1>Routing</h1>
<p>@Text</p>
<h1>User Id: @Id</h1>

@code{
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string? Text { get; set; } = "default";


    protected override void OnInitialized()
    {
        Text = Text ?? "Texto desde OnInitialized";
    }
    protected override void OnParametersSet()
    {
        Text = Text ?? "Parámetro está Set";
    }
}
